<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="<?= base_url() ?>assets/images/gelora.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="<?= base_url() ?>assets/css/styles.css">
  <link rel="stylesheet" href="<?= base_url() ?>assets/css/homeHeader.css">
  <link rel="stylesheet" href="<?= base_url() ?>assets/css/homeBody.css">
  <link rel="stylesheet" href="<?= base_url() ?>assets/css/homeFooter.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">

  <title>Gelora | Magista</title>
</head>

<style media="screen">
  #sekul{
    color: black !important;
    text-decoration: none !important;
  }

  #sekul:hover{
    color: #22b975 !important;
    text-decoration: underline !important;
  }
</style>

<body>
  <div class="container">
    <div class="row">
      <a href="#"><img src="<?= base_url() ?>assets/images/gelora.png" width="100" style="margin-top: 25px"></a>
      <h1 style="margin-top: 45px; margin-left: 25px; font-family: 'Lobster Two', cursive !important; font-weight:bold; font-size:50px">Gelora | Magista</h1>
    </div>
  </div>


  <!--Main Content-->
   <div class="m-content container" style="margin-bottom: 10%;">
      <table id="dataTable" class="display" cellspacing="0" width="100%">
        <thead>
          <?php
            $nourut = $this->input->post('nourut');
            $query = $this->db->query("SELECT * FROM peserta WHERE nourut ");
            $row = $peserta->row_array();
          ?>
          <tr>
            <td>No Urut</td>
            <td>:</td>
            <td><?= $row['nourut'] ?></td>
          </tr>
          <tr>
            <td>Nama Sekolah</td>
            <td>:</td>
            <td><?= $row['nama'] ?></td>
          </tr>
        </thead>
        <tbody>
          <?php
            $nourut = $this->input->post('nourut');
            $query = $this->db->query("SELECT * FROM peserta WHERE nourut ");
            $row = $peserta->row_array();
          ?>
          <tr>
            <td colspan="12">---------------------------------------------------------------------------------------------------------------------------</td>
          </tr>
          <tr>
              <th>PBB</th>
              <th>Danton</th>
              <th>Vafor</th>
              <th>Total Nilai</th>
          </tr>
          <tr>
            <td><?= $row['total1'] ?></td>
            <td><?= $row['total2'] ?></td>
            <td><?= $row['total3'] ?></td>
            <td><?= $row['total'] ?></td>
          </tr>
        </tbody>
      </table>
    </div>
  <!--End of Main Content-->

  <!-- Footer -->
    <div class="container">
      <p>©2018 Gelora | Magista. All Rights Reserved</p>
    </div>
  <!-- End of Footer -->

</body>

</html>
