<!-- 1301162112 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="assets/images/gelora.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">

  <title>Welcome Juri 3</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="assets/images/geloraputih.png" width="75"></a>
      <h1 style="font-family: 'Lobster Two', cursive !important; color:white">Penilaian Juri 3</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Kelola Peserta</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/nilai1">Nilai Juri 1</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/nilai2">Nilai Juri 2</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/nilai3">Nilai Juri 3</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/kelolaAdmin">Kelola Admin</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/loginAdmin">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End of Navbar -->


  <!--Main Content-->
   <div class="m-content container" style="margin-bottom: 10%;">
      <table id="dataTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>No Urut</th>
                <th>Nama Sekolah</th>
                <th>Semangat</th>
                <th>Pengurangan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {{#each peserta}}
          <tr>
            <td>{{nourut}}</td>
            <td>{{nama}}</td>
            <td>{{semangat}}</td>
            <td>{{minsem}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editPesertaModal">Update Score</button>
              </div>
            </td>
          </tr>
        {{/each}}
           <!-- Modal -->
          <div class="modal fade" id="editPesertaModal" tabindex="-1" role="dialog" aria-labelledby="editPeserta" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editPesertaLabel">Update Score</h5>
                </div>
                <div class="modal-body">
                  <form role="form" method="post" action="#">
                    <div class="form-group ml-auto">
                      <label for="nourut">No Urut</label>
                      <input type="number" class="boks form-control" id="nourut" name="nourut" value="" disabled>
                      <input type="hidden" name="nourut" value="">
                    </div>
                    <div class="form-group ml-auto">
                      <label for="nama">Nama Sekolah</label>
                      <input type="text" class="boks form-control" id="nama" name="nama" value="" disabled>
                      <input type="hidden" name="nama" value="">
                    </div>
                    <div class="form-group ml-auto">
                      <label for="semangat">Semangat</label>
                      <input type="number" class="boks form-control" id="semangat" name="semangat" value="">
                    </div>
                    <div class="form-group ml-auto">
                      <label for="pengurangan1">Pengurangan</label>
                      <input type="number" class="boks form-control" id="pengurangan3" name="pengurangan3" value="">
                    </div>
                    <input type="hidden" name="code" value="private">
                    <button type="submit" class="btn btn-general btn-block" id="submit">Update Score</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Modal -->
        </tbody>

      </table>
    </div>
  <!--End of Main Content-->

  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <p>©2018 Gelora | Magista. All Rights Reserved</p>
    </div>
  </div>
  <!-- End of Footer -->

</body>

<!-- JS utk table -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="assets/js/jquery.chained.min.js"></script>

<!-- JS setting -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#dataTable').dataTable({});
});
</script>


</html>
